.product-data-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
 
.product-data-container p {
    color: #70503F;
}

.product-data-container h2 {
    color: #70503F;
    text-align: left;
    font-size: 20px;
    
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.product-item img {
    max-width: 100%;
    height: auto;
}
  
.product-info {
    padding: 10px;
}
  
.product-info h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #70503F;
    text-align: left;
}

.product-info a {
    color: #70503F;
}

.product-info a:hover {
    color: #E0B4FF; 
  }
  
.product-info p {
    font-size: 16px;
    color:#70503F;
    text-align: left;
}

.product-item h3 {
    background-color: #70503F;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    z-index: 1;
    max-width: 70%;
}

.size-list {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 380px;
    padding: 10px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.sold-out-overlay span {
    font-size: 14px;
    font-weight: bold;
    color: #70503F;
}

.size-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.size-list li {
    margin-right: 5px;
    display: inline-block;
    background-color: #70503F;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 550;
    color: white;
 
}

 .loading-text {
    color: #70503F;
 }

