.filter-bar {
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    position: relative;
    max-width: 100%;
    box-shadow: 0 1px 3px -2px #70503F;
}

.filter-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    margin-right: 60px;
    align-items: center;
}

.filter-section-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter-section h3 {
    color: #70503F;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}

.underline {
    content: '';
    height: 3px; 
    width: 60px;
    height: 2px;
    background-color: #E0B4FF; 
    margin-bottom: 30px;
}

.filter-section .filter-options {
    gap: 5px; 
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter-section .filter-options-colour {
    gap: 5px; 
    margin-top: 10px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.filter-section .filter-options label,
.filter-section .filter-options-colour label {
    color: #70503F;
    font-size: 14px;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-flex;
}

.filter-section .color-box {
    width: 15px; 
    height: 5px; 
    margin-left: 5px; 
    display: inline-block;
}

.filter-section input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #70503F;
}

.filter-section div input {
    margin-left: 5px;
    margin-right: 5px;
    color: #70503F;
}

.filter-section div input::placeholder {
    color: #b5a9a4;
    font-size: 14px;
}

input[type='checkbox'], 
input[type='radio']{
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: none; 
    border: 2px solid #70503F; 
    width: 14px;
    height: 14px;
    padding: 0; 
    margin: 0; 
  }
  
  input[type='checkbox']:checked,
  input[type='radio']:checked {
    background: #70503F;
  }

input[type='checkbox']:checked::after {
    content: '\2713'; 
    font-size: 20px;
    color: white; 
    position: absolute;
    top: 0px; 
    left: 10px;
}

.filter-section input[type="checkbox"],
.filter-section input[type="radio"] {
    margin-right: 10px;
    padding: 10px
}

.apply-button-container {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    gap: 20px;
    padding: 0px 60px;
    margin-bottom: 10px;
}
  
.apply-button-container button {
    padding: 8px 16px; 
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    background-color: #70503F;
}

.apply-button-container button:hover {
    background-color: #E0B4FF;
}

.filter-bar .dropdown-button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #70503F;
    width: auto;
    font-weight: bold;
    margin-bottom: 20px
}