.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 50px;
    margin-left: 40%;
    margin-right: 40%;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 12px;
    background-color: #70503F;
    cursor: pointer;
    border-radius: 0%;
}

.pagination button.active {
    background-color: #E0B4FF;
    color: white;
}

.pagination button:hover {
    background-color: #E0B4FF;
}

.pagination button:focus {
    outline: none;
}
