.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 3px -2px #70503F;
}

.nav-logo{
    display: flex;
    align-items: center;
    width: 10%;
}

.nav-logo img {
    width: 300px;
    height: auto;
}

.nav-profile {
    display: flex;
    justify-content: space-around;
}
.nav-profile img {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    height: auto;
}
.nav-profile button{
    width: 130px;
    height: 45px;
    margin-left: 5%;
    outline: none;
    border: 1px solid #70503F;
    border-radius: 75px;
    color: #70503F;
    font-size: 14px;
    font-weight: 100;
    background-color: white;
    cursor: pointer;
}

.nav-likes img {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-likes-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-top: 18px;
    border-radius: 16px;
    font-size: 12px;
    color: white;
    background: #70503F;
}

.nav-search {
    display: flex;
    gap: 20px;
    margin-left: 250px ;
    margin-right: 10%;
    background-color: #F6EAFF;
    width: 100%;
    box-shadow: 0px 0px 8px #E0B4FF;
    align-items: center;
}

.nav-search img {
    max-height: 40px;
    width: auto;
}

.nav-search input {
    background-color: transparent;
    border: none;
    height: auto;
    width: 100%;
    display: flex;
    font-size: 1.1rem;
    width: 100%;
    margin-left: 20px;
}
