.profile-container {
  max-width: auto;
  margin: 5px 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
}

.profile-container h1 {
  font-size: 2em;
  color: #653c1f;
  margin-bottom: 20px;
}

.success-message, .error-message {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.success-message {
  background-color: #E0B4FF;
  font-weight: 600;
}

.error-message {
  background-color: #f44336;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-photo {
  position: relative;
  margin-right: 20px;
}

.profile-photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.photo-upload {
  position: bottom;
  bottom: 10px; 
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.photo-upload img {
  width: 25px;
  height: 25px;
  border-radius: 0;
}

.photo-upload input {
  display: none;
}

.profile-info {
  flex: 1;
  text-align: left;
}

.profile-info label {
  display: block;
  font-size: 1.2em;
  color: #653c1f;
  margin-bottom: 10px;
  font-weight: 600;
}

.profile-info input[type="text"] {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #70503F;
  border-radius: 5px;
  margin-right: 500px;
}

.profile-actions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-actions button {
  padding: 10px 20px;
  max-width: 200px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.logout-button {
  background-color: grey;
  color: white;
}

.logout-button:hover {
  background-color: grey;
}

.home-button {
  background-color: #70503F;
  color: white;
}

.home-button:hover {
  background-color: #70503F;
}

button:hover {
  background-color: #ddd;
}

.remove-photo-button {
  background-color: #E0B4FF;
  color: #653c1f;
  padding: 5px 10px;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.remove-photo-button:hover {
  background-color: #d32f2f;
}

.not-logged-in-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.not-logged-in-container p {
  font-size: 1.5em;
  color: #653c1f;
  margin-bottom: 20px;
}

.not-logged-in-container .login-button,
.not-logged-in-container .home-button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.not-logged-in-container .login-button {
  background-color: #E0B4FF;
}

.not-logged-in-container .login-button:hover {
  background-color: #4c4c4c;
}

.not-logged-in-container .home-button {
  background-color: #653c1f;
  ;
}

.not-logged-in-container .home-button:hover {
  background-color: #4c4c4c;
}

/* Wishlist section */
.wishlist-container {
  padding: 20px 20px;
  background-color: #F6EAFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist-container h2 {
  margin-bottom: 20px;
  color: #70503F;
  font-size: 24px;
  text-align: left;
}

.wishlist-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  list-style: none;
}

.wishlist-item {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}


.wishlist-item-content {
  display: flex;
  align-items: center;
}

.wishlist-item-image {
  width: 120px; 
  height: auto; 
  margin-right: 20px;
  object-fit: cover;
}

.wishlist-item-info {
  display: flex;
  align-items: left;
  justify-content: space-between;
  width: 100%;
}

.wishlist-item-info h3 {
  font-size: 18px;
  color: #70503F;
  align-items: baseline;
  text-align: left;
}

.wishlist-item-info h3 p {
  font-size: 15px;
  color: #70503F;
  align-items: baseline;
  text-align: left;
  font-weight: lighter
}

.wishlist-item-info a {
  text-decoration: underline;
  color: #70503F;
  transition: color 0.2s;
}

.wishlist-item-info a:hover {
  color: #E0B4FF;
}

.wishlist-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.wishlist-button img {
  width: 30px; 
  height: 30px; 
}

.wishlist-button:hover {
  background: none;
  transform: scale(1.2); 
}

@media (max-width: 900px) {
  .wishlist-container ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .wishlist-container ul {
    grid-template-columns: 1fr;
  }

  .wishlist-item-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .wishlist-item-image {
    margin-bottom: 10px;
  }

  .wishlist-item-info {
    align-items: flex-start;
    justify-content: center;
  }

  .wishlist-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
