.profile-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.profile-container h1 {
  font-size: 2em;
  color: #653c1f;
  margin-bottom: 20px;
}

.success-message, .error-message {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.success-message {
  background-color: #4caf50;
}

.error-message {
  background-color: #f44336;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-photo {
  position: relative;
  margin-right: 20px;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.photo-upload {
  position: bottom;
  bottom: 10px; 
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.photo-upload img {
  width: 25px;
  height: 25px;
  border-radius: 0;
}

.photo-upload input {
  display: none;
}

.profile-info {
  flex: 1;
  text-align: left;
}

.profile-info label {
  display: block;
  font-size: 1.2em;
  color: #653c1f;
  margin-bottom: 10px;
}

.profile-info input[type="text"] {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.profile-actions {
  margin-top: 20px;
}

.profile-actions button {
  padding: 10px 20px;
  max-width: 200px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.logout-button {
  background-color: #f44336;
  color: white;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.home-button {
  background-color: #4caf50;
  color: white;
}

.home-button:hover {
  background-color: #388e3c;
}

button:hover {
  background-color: #ddd;
}

.remove-photo-button {
  background-color: #E0B4FF;
  color: #653c1f;
  padding: 5px 10px;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.remove-photo-button:hover {
  background-color: #d32f2f;
}

.not-logged-in-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.not-logged-in-container p {
  font-size: 1.5em;
  color: #653c1f;
  margin-bottom: 20px;
}

.not-logged-in-container .login-button,
.not-logged-in-container .home-button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.not-logged-in-container .login-button {
  background-color: #E0B4FF;
}

.not-logged-in-container .login-button:hover {
  background-color: #4c4c4c;
}

.not-logged-in-container .home-button {
  background-color: #653c1f;
  ;
}

.not-logged-in-container .home-button:hover {
  background-color: #4c4c4c;
}

/* Wishlist section */
.wishlist-container {
  padding: 20px;
  background-color: #E0B4FF;
  border-radius: 10px;
}

.wishlist-container h2 {
  margin-bottom: 20px;
  color: #70503F;
  font-size: 24px;
}

.wishlist-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.wishlist-item-content {
  display: flex;
  align-items: center;
}

.wishlist-item-image {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 10px;
  margin-right: 20px;
}

.wishlist-item-info {
  flex: 1;
}

.wishlist-item-info h3 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  color: #333;
}

.wishlist-item-info a {
  text-decoration: none;
  color: #b45ab0; /* Adjust color to match your theme */
}

.wishlist-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.wishlist-button img {
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
}